<h1 style="align-content: center;">CANTIDAD DE UNIDADES VENDIDOS POR PRODUCTO</h1>

<div class="container-fluid content-container scroll-box.scrolled " (scroll)="onScroll($event)"  >
  <div class="row align-items-start " style="background-color: gray;" >
  <ng-container *ngFor="let dato of datosMostrar ">
    <div class="col-md-2">
    <div class="card" >
      <div class="row ">
      <div class="card-header"><p id="pa"> <u>Unidades Vendias: {{dato[1].number}}</u>  </p> </div>
      <div class="card-body">
        <p class="card-text" id ="pa"> <u>Nombre: {{dato[1].string}}</u> </p>
        <br>
      </div>
    </div>
  </div>
</div>
    <!--baiding-->
  </ng-container>
  </div>
</div>
